<div
  class="bg-background fixed inset-0 z-50 flex items-center justify-center transition-opacity duration-500"
>
  <img
    src="/logo.svg"
    alt="Logo"
    width="640"
    height="640"
    class="px-8 opacity-0 mix-blend-lighten transition-opacity duration-500"
  />
</div>

<script>
  const hasSeenLoader = localStorage.getItem('isSeen') === 'true';
  const loader = document.querySelector('div.fixed.inset-0');

  if (hasSeenLoader && loader) {
    loader.remove();
  } else {
    const startTime = Date.now();
    const img = loader?.querySelector('img');
    window.scrollTo({ top: 0 });

    document.body.style.overflow = 'hidden';

    if (img) img.classList.replace('opacity-0', 'opacity-100');

    const cleanup = () => {
      if (loader) {
        loader.classList.add('opacity-0');
        setTimeout(() => {
          loader.remove();
          document.body.style.overflow = '';
          localStorage.setItem('isSeen', 'true');
        }, 500);
      }
    };

    window.addEventListener('load', () => {
      const elapsedTime = Date.now() - startTime;
      const remainingTime = Math.max(1500 - elapsedTime, 0);
      setTimeout(cleanup, remainingTime);
    });

    // Cleanup on page leave
    document.addEventListener('astro:before-preparation', cleanup, { once: true });
  }
</script>
