<section id="tech" class="relative overflow-hidden py-20">
  <!-- Background gradients -->
  <div class="bg-background absolute inset-0">
    <div
      class="absolute inset-0 bg-[radial-gradient(at_47%_33%,hsl(0,0%,100%)_0,transparent_59%)] opacity-10"
    >
    </div>
  </div>

  <div class="relative mx-auto max-w-3xl px-4">
    <h2 class="mb-8 text-center font-serif text-3xl font-normal italic md:text-4xl">
      Orario & Location
    </h2>
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
      <table class="bg-background/50 overflow-hidden rounded-2xl p-4 shadow-xl">
        <tbody>
          <tr class="bg-foreground/5">
            <td class="px-4 py-2">Lunedì</td>
            <td class="px-4 py-2">Chiuso</td>
          </tr>
          <tr class="bg-foreground/2">
            <td class="px-4 py-2">Martedì</td>
            <td class="px-4 py-2">09 - 12.30 / 15 - 20</td>
          </tr>
          <tr class="bg-foreground/5">
            <td class="px-4 py-2">Mercoledì</td>
            <td class="px-4 py-2">09 - 12.30 / 15 - 20</td>
          </tr>
          <tr class="bg-foreground/2">
            <td class="px-4 py-2">Giovedì</td>
            <td class="px-4 py-2">09 - 12.30 / 15 - 20</td>
          </tr>
          <tr class="bg-foreground/5">
            <td class="px-4 py-2">Venerdì</td>
            <td class="px-4 py-2">09 - 12.30 / 15 - 20</td>
          </tr>
          <tr class="bg-foreground/2">
            <td class="px-4 py-2">Sabato</td>
            <td class="px-4 py-2">09 - 12.30 / 15 - 20</td>
          </tr>
          <tr class="bg-foreground/5">
            <td class="px-4 py-2">Domenica</td>
            <td class="px-4 py-2">Chiuso</td>
          </tr>
        </tbody>
      </table>
      <div class="overflow-hidden rounded-xl">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5725.896999650266!2d12.455872575977871!3d44.14630652039925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132cc7afc4d240e5%3A0x93adacc995553358!2sDa%20Lenin%20Barber%20Shop!5e0!3m2!1sit!2sit!4v1760992114670!5m2!1sit!2sit"
          width="600"
          height="450"
          class="w-full"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>
