<!-- TOPBAR -->
<header class="text-white">
    <div class="row bg-dark">
            <a class="col-5 mt-auto mb-1 topbar-text text-end" style="text-decoration: none; color: white;" href="./index.html">Da Lenin</a>
            <a class="col-2 text-center p-0" href=".index.html">
                <img src="../../res/logo-trasparent.png" class="topbar-logo">
            </a>
            <a class="col-5 mt-auto mb-1 topbar-text text-start" style="text-decoration: none; color: white;" href="./index.html">Barber Shop</a>
    </div>
</header>