.img1 { 
    background-image: url(../res/low-fade.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
}

.img2 { 
    background-image: url(../res/low-fade.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
}